.root
{
    -fx-background-color:#000066;
    -fx-background-radius:25;
    -fx-border-radius: 25;
}

.button:hover {
    -fx-background-color: linear-gradient(#61a2b1, #000099);
}
.button {
    -fx-background-color: #000099;
    -fx-background-radius: 38;
    -fx-effect: dropshadow(three-pass-box, #61a2b1,3,2,0,2);
}

.list-view {
    -fx-background-color:linear-gradient(#61a2b1, #000099) ;
    -fx-effect: dropshadow(three-pass-box, #61a2b1,3,2,0,2);
    -fx-font-family: Cambria;
    -fx-font-size:14;
    -fx-text-fill: #000033;


}
.list.view .cell
{
    -fx-effect: dropshadow(gaussian, #66FFFF, 1, 2, 0, 1);
    -fx-background-color:#66FFFF ;

}