.button
{
    -fx-background-color: #66FF66;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 100;
}

.text-field
{
    -fx-background-color:#D0D0D0;
    

}