.root
{
    -fx-border-color: #FF9966;
    -fx-border-width: 6px 6px 6px 6px;
    -fx-border-style: line;
}
.button
{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3,2,0,2  );
    -fx-background-color: #FF9933;
}

.button:hover {
    -fx-background-color: linear-gradient(#FF6600, #FFCC99);
}